body {
    font-family: Arial, sans-serif;
    background-image: url('map.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.062);
    /* Semi-transparent white background */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
    max-width: 95%;
    background-size: cover;
    /* Ensure the image covers the entire background */
    background-blend-mode: overlay;
    /* Blend the image with the semi-transparent white */
}

h1 {
    margin-bottom: 20px;
}

.gender-div, .starting-letter-div {
    display: flex;
    align-items: flex-start;
    padding: 0.3rem 3rem;
}

.first-name-div, .second-name-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 3rem;
}

.male, .female, .first-name-div label, .second-name-div label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second-name-div {
    margin-top: -5px;
}

/* Radio */
.input {
    -webkit-appearance: none;
   /* remove default */
    display: block;
    margin: 10px 10px 10px 0;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
    background-color: hsla(0,0%,0%,.2);
    background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
      -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
  }
  
  .input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
      -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
  }
  
  .input:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
  }
  
  /* The up/down direction logic */
  
  .input:checked {
    background-position: 0 0;
  }

  .input,
  .input:active {
    background-position: 0 24px;
  }
  
  .input:checked ~ .input,
  .input:checked ~ .input:active {
    background-position: 0 -24px;
  }

  .input.reverse:checked {
    background-position: 0 0;
  }

  .input.reverse {
    background-position: 0 -24px;
  }
    
  .input.reverse:checked ~ .input,
  .input.reverse:checked ~ .input:active {
    background-position: 0 24px;
  }

  
/* ******************************************************** */
#letterInput, #secondLetterInput {
    margin-left: 35px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    margin-right: 10px;
}

/* checkbox */
.starting-letter-div {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    align-items: center;
  }
  
  .starting-letter-div input[type="checkbox"] {
    display: none;
  }
  
  .starting-letter-div label {
    --size: 25px;
    --shadow: calc(var(--size) * .07) calc(var(--size) * .1);
    position: relative;
    display: block;
    width: var(--size);
    height: var(--size);
    margin: 0 10px 0 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 50%;
    box-shadow: 0 var(--shadow) #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
        0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
  }
  
  .starting-letter-div label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: calc(var(--size) * .7);
    height: calc(var(--size) * .7);
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 var(--shadow) #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
  }
  
  .starting-letter-div label:hover:before {
    width: calc(var(--size) * .55);
    height: calc(var(--size) * .55);
    box-shadow: inset 0 var(--shadow) #ff9d96;
  }
  
  .starting-letter-div label:active {
    transform: scale(0.9);
  }
  
  .starting-letter-div .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: calc(var(--size) * -.05);
    width: calc(var(--size) * .6);
    height: calc(var(--size) * .6);
    margin: 0 auto;
    margin-left: calc(var(--size) * .14);
    transform: rotateZ(-40deg);
  }
  
  .starting-letter-div .tick_mark:before,
    .starting-letter-div .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #080808;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
  }
  
  .starting-letter-div .tick_mark:before {
    left: 0;
    bottom: 0;
    width: calc(var(--size) * .1);
    height: calc(var(--size) * .3);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(calc(var(--size) * -.68));
  }
  
  .starting-letter-div .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(var(--size) * .1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(calc(var(--size) * .78));
  }
  
  .starting-letter-div input[type="checkbox"]:checked + label {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .starting-letter-divinput[type="checkbox"]:checked + label:before {
    width: 0;
    height: 0;
  }
  
  .starting-letter-div input[type="checkbox"]:checked + label .tick_mark:before,
    .starting-letter-div input[type="checkbox"]:checked + label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
  }
/* ******************************************* */

/* button */
@property --progress {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@-webkit-keyframes animate-progress {
    from {
        --progress: 0%;
    }

    to {
        --progress: 100%;
    }
}

@keyframes animate-progress {
    from {
        --progress: 0%;
    }

    to {
        --progress: 100%;
    }
}

:root {
    --white: 255 255 255;
    --black: 0 0 0;
    --color-bgc: var(--white);
    --color-txt: var(--black);
    --mix-blend: screen;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bgc: var(--black);
        --color-txt: var(--white);
        --mix-blend: multiply;
    }
}


button {
    --unit: min(5px, 3vw);
    --edge-spacing: calc(.2 * var(--unit));
    --button-radius: calc(var(--edge-spacing) * 10);
    --opacity: 0;
    --opacity-percent: calc(var(--opacity) * 100%);
    --opacity-percent-inverted: calc(100% - var(--opacity-percent));
    --progress-multiplier: 3;
    --progress-multiplied: calc(var(--progress) * var(--progress-multiplier));
    --min-percent: calc(0% - var(--progress-multiplied));
    --max-percent: calc(calc(100% * var(--progress-multiplier)) - var(--progress-multiplied));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgb(var(--color-txt));
    display: inline-flex;
    align-items: stretch;
    justify-content: stretch;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: var(--edge-spacing);
    border-width: 0px;
    /* using 2px here as a buffer to cover some lingering pixels at smaller viewport widths */
    box-shadow: inset 0 0 0 calc(var(--edge-spacing) + 2px) rgb(var(--color-bgc)/calc(.75 * var(--opacity-percent-inverted)));
    font-size: calc(4 * var(--unit));
    font-family: inherit;
    letter-spacing: calc(-0.0625 * var(--unit));
    border-radius: var(--button-radius);
    background-image: repeating-linear-gradient(to right, hsl(0 100% 50%/var(--opacity-percent)) var(--min-percent), hsl(60 100% 50%/var(--opacity-percent)), hsl(120 100% 50%/var(--opacity-percent)), hsl(180 100% 50%/var(--opacity-percent)), hsl(240 100% 50%/var(--opacity-percent)), hsl(300 100% 50%/var(--opacity-percent)), hsl(360 100% 50%/var(--opacity-percent)), hsl(0 100% 50%/var(--opacity-percent)) var(--max-percent));
    background-repeat: repeat-x;
    transform: scale(1);
    cursor: pointer;
    -webkit-animation: animate-progress 1s linear infinite;
    animation: animate-progress 1s linear infinite;
    transition: scale 0.25s ease-out, --opacity 0.25s ease-out;
}

button:hover {
    scale: 1.1;
    --opacity: 1;
}

button:hover:active {
    scale: 1;
    transition: scale 0.15s ease-out, --opacity 0.25s ease-out;
}

button::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    --offset: calc(4 * var(--unit));
    width: calc(100% - var(--offset));
    height: calc(100% - var(--offset));
    translate: -50% -50%;
    background: inherit;
    --blur-amount: calc(5 * var(--unit) * var(--opacity));
    filter: blur(var(--blur-amount));
    border-radius: inherit;
}

.button-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--color-bgc));
    padding: calc(2 * var(--unit));
    border-radius: calc(0.9 * var(--button-radius));
    color: rgb(var(--color-txt));
    mix-blend-mode: var(--mix-blend);
    pointer-events: none;
    white-space: nowrap;
}

/* *********** */

#output {
    font-family: "Noto Sans Meetei Mayek", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 1.7em;
    color: #05DFD7;
    text-shadow: 0 0 10px rgba(5, 5, 5, 0.863)
}


@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.3rem;
    }

    .container {
        width: 95%;
        padding: 1px;
    }

    .gender-div, .starting-letter-div, .first-name-div, .second-name-div {
        padding: 0 0.9rem;
    }

    .second-name-div {
        margin-top: -10px;
    }


    #output {
        margin-top: 20px;
        font-size: 1.3em;
    }
    
}